
.top-bar {
    background: #000;
}

.top-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-bar ul li {
    display: inline-block;
}

.top-bar ul li a {
    color: #fff;
    display: inline-block;
}

.top-bar ul.social {
    margin-left: 10px;
}

.top-bar ul.social li a {
    padding: 0px 5px;
}

.top-bar .container>ul>li {
    padding: 10px 0px;
}

.top-bar .container>ul>li>a {
    padding: 0px 10px;
    border-right: 1px solid #fff;
}

.top-bar .container>ul>li>a i {
    margin-right: 5px;
}

nav.navbar.navbar-default {
    background: #fff;
    border: none;
    margin-bottom: 0px;
}

nav.navbar.navbar-default .nav li a {
    color: #000;
    font-weight: bold;
}

nav.navbar.navbar-default .navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: #000;
}


.carousel-caption {
    width: 509px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 45px;
    transition: all 1s ease;
    transition-delay: 1.3s;
    
    /* border-left: 3px solid #ECC53F; */
}

.top-banner {
    /* background: #0945dd; */
    padding-top: 20px;
    color: #fff;
    margin-bottom: 150px;
}

.top-banner .imac {
    max-width: 900px;
}

.top-banner .card-hold {
    margin-top: 50px;
}

.top-banner .card-hold .card {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: -94px;
    box-shadow: 12px 10px 30px rgba(0, 0, 0, 0.18);
}

.top-banner .card-hold .card img {
    max-width: 100%;
}

.top-banner .card-hold .card .content {
    background: linear-gradient(to right, #fa9a44, #fe4d0a);
    text-align: left;
    color: #fff;
    padding: 15px;
}

.subscriber .row-1 {
    background: linear-gradient(to right, #0341e0, #225ef8);
    padding: 20px 30px;
    margin-top: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

.subscriber .row-1 img {
    max-width: 100%;
    margin-bottom: -150px;
    margin-top: -75px;
}

.subscriber .row-2 {
    background: linear-gradient(to left, #0341e0, #225ef8);
    padding: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.subscriber .row-2 .form-group {
    margin-bottom: 0px;
}

.blogs {
    margin-top: 50px;
}

.blogs .blog-hold {
    border-right: 1px solid #ccc;
    padding-right: 40px;
    padding-bottom: 40px;
}

.blogs .blog-hold .blog-card {
    padding: 20px 15px;
    border-top: 1px solid #ccc;
    color: #000;
}

.blogs .blog-hold .blog-card:last-child {
    border-bottom: 1px solid #ccc;
}

.blogs .blog-hold .blog-card img {
    max-width: 100%;
}

.blogs .blog-hold .blog-card .topic {
    font-size: 16px;
    color: #696767;
}

.blogs .blog-hold .blog-card .title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
}

.blogs .blog-hold .blog-card .author span {
    color: #696767;
}

.side-bar .side-card {
    border-bottom: 1px solid #ccc;
    padding: 30px 0px;
}

.side-bar .side-card h4 {
    font-size: 15px;
    color: #000;
    font-weight: bold;
}

.side-bar .side-card a {
    display: block;
    color: #696767;
    text-decoration: none;
    padding: 8px 0px;
}

.side-bar .side-card a.underline {
    border-bottom: 1px solid #696767;
    display: inline-block;
    padding: 0;
}
